h1
{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.content
{
    padding: 25px;
    background-color: #2d2d2d;
    text-align: center;
}

h1.content
{
    color: darkorange;
}

a.chart
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 25px 25px;
    text-align: center; 
    text-decoration: none;
    width: 60%;
    display: inline-block;
}

a:visited
{
    color: lightgrey;
}

a:active
{
    background-color: rgb(29, 29, 29);
}