body
{
    font-family: 'Rubik', sans-serif;
    background-color: #2E3440;
}

h1, h2, h3, h4, h5
{
    text-align: center;
    color: #E5E9F0;
    font-weight: 2;
}

h1
{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 25px;
    border-bottom: solid 5px #5E81AC;
}

.map
{
    width: 90%;
    height: 75vh;
    margin: 25px auto;
    border: 5px solid #4C566A;
}